.cardProduct {
  width: 300px;
  min-height: 300px;
}

.cardImg {
  object-fit: cover;
  width: 120px;
  height: 120px;
  background: #141414;
}

.cardInformation{
  flex-grow: 1;
}

.cardInformation .title{
  font-size: 16px;
}

.detailProduct{
  font-size: 14px;
  flex-grow: 1;
}

.price{
  font-size: 1.2rem;
}

.cardBtn {
  transition: 0.7s;
  color: #fff;
  background-color: #bb6c06;
}

.cardBtn:hover {
  transition: 0.7s;
  background-color: #ce7b0d;
}