.home{
  gap: 150px;
  margin-bottom: 100px;
}

.banner {
  width: 100%;
  height: 60vh;
}

.banner .imgBanner {
  width: 600px;
}

.btnBanner {
  color: #fff;
  background-color: #c74508;
  transition: 0.3s;
  width: 50%;
}

.btnBanner:hover {
  transition: 0.7s;
  background-color: #bd511f;
}

.horarios{
  padding: 150px 0;
  background: #F7F7F7;
  gap:250px;
}

@media all and (min-width: 1400px) {
  .banner{
    margin-top: 50px;
  }

  .titleBanner {
    font-weight: 900;
    font-size: 65px;
  }

  .descriptionBanner{
    font-size: 18px;
  }

  .banner .imgBanner {
    width: 800px;
  }

  .btnBanner{
    font-size: 18px;
  }
}
