.banner{
  width: 100%;
  position: relative;
  background-image: url("../../../assets/Inicio/banner1.webp");
  background-repeat: no-repeat;
  background-size: 250%;
  height: 60vh;
  background: rgba(0,0,0,0.5);
}

.banner .bannerContent{ 
  width: 75%;
  height: 18.75rem;
  z-index: 99;
}

.bannerContent .bannerTitle{
  font-size: 2.1875rem;
  text-align: center;
}

.btnBanner{
  color: #fff;
  background-color: #bd511f;
  transition: transform 0.3s ease;
}

.btnBanner:hover {
  transition: .7s;
  background-color: #c74508;
}

@media all and (min-width:768px){
  .bannerContent .bannerTitle{
    font-size: 4.0625rem;
  }

  .bannerContent .bannerDescription,
  .bannerContent .bannerSubtitle,
  .btnBanner{
    font-size: 1.125rem;
  }

  .banner{
    background-size: 150%;
  }
}

@media all and (min-width:1200px){
  .banner{
    width: 100%;
    position: relative;
    background-image: url("../../../assets/Inicio/banner1.webp");
    background-repeat: no-repeat;
    background-size: 120%;
    height: 90vh;
    animation: movimiento 9s infinite linear alternate;
  }
}