
.title {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  font-size: 30px;
}

.bannerMenu {
  background-image: url("../../../assets/bannerMenu.webp");
  background-size: 300%;
  background-repeat: no-repeat;
  color: white;
  height: 50vh;
  background-color: rgba(0,0,0,0.5);
}

@media all and (min-width: 768px) {
  .title {
    font-size: 45px;
  }
  .bannerText {
    font-size: 18px;
  }

  .bannerMenu{
    background-size: 150%;
  }
}

@media all and (min-width: 1200px) {
  .title {
    font-size: 55px;
  }
  
  .bannerText {
    font-size: 24px;
  }

  .bannerMenu{
    background-size: 100%;
  }
}