.opinions {
  background:#fff;
  min-height: 700px;
}

.opinions .containerOpinions{
  min-height: 700px;
}

.btnOpinion{
  background: #fbf8ef;
  cursor: pointer;
}

.btnOpinion a{
  color: #16509c;
}

.btnOpinion:hover{
  transform: scale(1.05);
  transition: .7s;
}

.containerCardOpinions{
  width: 100%;
  height: 100%;
}

.containerCardOpinions .card{
  width: 100%;
  min-height: 175px;
}

.iconStar{
  font-size: 16px;
}

@media all and (min-width:375px){
  .containerCardOpinions .card{
    min-height: 120px;
  }
}

@media all and (min-width:768px){
  .containerCardOpinions{
    width: 700px;
    min-height: 250px;
  }
  
  .containerCardOpinions .card{
    width: 700px;
    min-height: 120px;
  }

  .iconStar{
    font-size: 20px;
  }
}

@media all and (min-width:992px){
  .opinions{
    min-height: 300px;
    max-height: 650px;
  }

  .opinions .containerOpinions{
    min-height: 300px;
    max-height: 650px;
  }
  
  .containerCardOpinions .card{
    width: 100%;
    height: 120px;
  }
}