@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
}

body *{
  font-family: 'Kalam', sans-serif;
}

#root .navBarSticky{
  position: absolute;
  z-index: 9999;
  width: 100%;
}

#root .sectionTop{
  margin-top: 89px;
}

.input:focus{
  outline: none;
  box-shadow: none;
}

a{
  text-decoration: none;
}

@media all and (min-width:768px){
  #root .navBarSticky{
    position: sticky;
    z-index: 999;
    top: 0px;
    border-bottom: .1px solid rgb(58, 57, 57);
  }

  #root .sectionTop{
    margin-top: 0;
  }
}  

@media all and (min-width:992px){
  a{
    cursor: pointer;
  }
}