@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f7f7;
}

body *{
  font-family: 'Kalam', sans-serif;
}

#root .navBarSticky{
  position: absolute;
  z-index: 999;
  width: 100%;
}

#root .sectionTop{
  margin-top: 89px;
}

input:focus{
  outline: none;
  box-shadow: none;
}

@media all and (min-width:768px){
  #root .navBarSticky{
    position: sticky;
    top: 0px;
    border-bottom: .1px solid rgb(200, 198, 198);
  }

  #root .sectionTop{
    margin-top: 0px;
  }
}  