@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,300&family=Oswald:wght@500&display=swap");

.cardProduct {
  width: 100%;
  height: 180px;
  border: solid 1px #000;
  border-radius: 8px;
  margin: 5px 0px;
  background-color: #fbf8ea;
  box-shadow: rgba(0, 0,0,0.3) 5px 5px 12px 1px;
}

.cardInformation {
  padding: 10px;
}

.cardParagraph{
  padding-top: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  white-space: normal;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.cardTitle {
  border-bottom: 1px solid black;
  margin-bottom: 2px;
}

.cardPrice {
  font-size: 1.125rem;
  font-weight: bold;
  color: green;
}

.cardBTN {
  background-color: #e5a95b;
  color: #000;
  border-radius: 7px;
  border: 1px solid #000;
}

.cardBTN:hover {
  transition: 0.7s;
  color: #fff;
  background-color: #d38e33;
}

.cardIMG {
  object-fit: cover;
  width: 150px;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media all and (min-width: 0px) and (max-width: 767px) {
  .cardParagraph {
    -webkit-line-clamp: 1;
  }

  .cardProduct {
    height: 130px;
  }

  .cardBTN {
    padding: 4px 6px;
  }

  .cardIMG {
    object-fit: cover;
    width: 100px;
    height: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .cardProduct {
    height: 160px;
  }

  .cardBTN {
    padding: 6px 8px;
  }
}

@media all and (min-width: 992px){
  .cardIMG{
    width: 180px;
  }
}
