@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,300&family=Oswald:wght@500&display=swap");

.cardProduct {
  width: 430px;
  height: 180px;
  border: solid 2px #9a5534;
  border-radius: 15px;
  margin: 5px 0px;
}
.cardInformation {
  padding: 10px;
  font-family: "Exo", sans-serif;
  font-size: 15px;
}
.cardTitle {
  border-bottom: 1px solid black;
  margin-bottom: 2px;
  font-family: "Oswald", sans-serif;
}
.cardPrice {
  font-size: 18px;
  font-weight: bold;
  color: green;
}
.cardBTN {
  font-size: 16px;
  background-color: #9a5534;
  color: #fff;
  border-radius: 7px;
  border: 1px solid white;
  padding: 8px 12px;
}
.cardBTN:hover {
  transition: 0.7s;
  background-color: #f5ebdc;
  color: black;
  border: solid 1px black;
}
.cardIMG {
  object-fit: cover;
}
.cardIMG {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

@media all and (min-width: 0px) and (max-width: 767px) {
  .cardParagraph {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    white-space: normal;
    text-overflow: ellipsis;
  }
  .cardProduct{
    height: 130px;
  }
  .cardBTN{
    padding: 4px 6px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .cardProduct {
    width: 350px;
    height: 190px;
  }
  .cardInformation {
    font-size: 14px;
  }
  .cardPrice {
    font-size: 16px;
  }
  .cardBTN {
    font-size: 14px;
    padding: 6px 8px;
  }
}
@media all and (min-width: 1200px){
    .cardProduct{
        width: 550px;
    }
}
