@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,300&family=Oswald:wght@500&display=swap");

.cardProduct {
  width: 430px;
  height: 180px;
  border: solid 2px #9a5534;
  border-radius: 15px;
  margin: 5px 0px;
  background-color: #dfbb92;
}
.cardInformation {
  padding: 10px;
  font-family: "Exo", sans-serif;
  font-size: 15px;
}
.cardParagraph{
  padding-top: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  white-space: normal;
  text-overflow: ellipsis;
}
.cardTitle {
  border-bottom: 1px solid black;
  margin-bottom: 2px;
  font-family: "Oswald", sans-serif;

}
.cardPrice {
  font-size: 18px;
  font-weight: bold;
  color: green;
}
.cardBTN {
  font-size: 16px;
  background-color: #9a5534;
  color: #fff;
  border-radius: 7px;
  border: 1px solid #9a5534;
  padding: 8px 12px;
}
.cardBTN:hover {
  transition: 0.7s;
  background-color: #f5ebdc;
  color: black;
  border: solid 1px black;
}
.cardIMG {
  object-fit: cover;
  width: 150px;
  height: 100%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

@media all and (min-width: 0px) and (max-width: 767px) {
  .cardParagraph {
    -webkit-line-clamp: 1;
  }
  .cardProduct {
    height: 130px;
  }
  .cardInformation {
    font-size: 14px;
  }
  .cardPrice {
    font-size: 14px;
  }
  .cardBTN {
    padding: 4px 6px;
    font-size: 12px;
  }
  .cardIMG {
    object-fit: cover;
    width: 100px;
    height: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .cardProduct {
    width: 350px;
    height: 160px;
  }
  .cardPrice {
    font-size: 16px;
  }
  .cardBTN {
    font-size: 14px;
    padding: 6px 8px;
  }
  .cardParagraph{
    font-size: 16px;
  }
}
@media all and (min-width: 992px){
}
@media all and (min-width: 1200px) {
  .cardProduct {
    width: 550px;
  }
  .cardParagraph{
    font-size: 18px;
  }
  
}
