*{
    margin: 0;
  }

.bannerContact{
  width: 100%;
  position: relative;
  background-image: url("../assets/bannerContacto.webp");
  background-repeat: no-repeat;
  background-size: 250%;
  height: 60vh;
  font-family: "Exo";
  animation: movimiento 5s infinite linear alternate;
}

@keyframes movimiento {
  from {
    background-position: bottom left;
  }to{
    background-position: top right;
  }
}

.bannerOpacity{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.bannerContact .bannerContent{ 
  width: 75%;
  height: 18.75rem;
  z-index: 99;
}

.bannerContent .bannerTitle{
  font-family: "Oswald";
  font-size: 2.1875rem;
  text-align: center;
  color:#9a5534;
  -webkit-text-stroke: .5px #fff;
}

.containerMap iframe{
  width: 90%;
  height: 300px;
}

.formContact{
  width: 90%;
}

.formContact .textareaContact{
  height: 100px;
  resize: none;
}

@media all and (min-width:768px){
  .bannerContent .bannerTitle{
    font-size: 4.0625rem;
  }

  .bannerContent .bannerSubtitle{
    font-size: 1.125rem;
  }

  .bannerContact{
    background-size: 120%;
  }

  .containerMap iframe{
    width: 90%;
    height: 400px;
  }

  .formContact{
    font-size: 18px;
    width:600px;
  }

  .formContact .textareaContact{
    height: 150px;
  }
}

@media all and (min-width:1200px){
  .bannerContent .bannerTitle{
    font-size: 4.6875rem;
  }

  .bannerContent .bannerSubtitle{
    font-size: 1.25rem;
  }

  .bannerContact{
    background-size: 120%;
    animation: movimiento 6s infinite;
  }

  .containerMap iframe{
    width: 60%;
    height: 450px;
  }

  .formContact{
    width: 750px;
  }
}