body{
  overflow-x: hidden;
}

.sectionTopsectionDetailMP{
  margin: 125px;
}

.cardMP{
  width: 100%;
}

.btnPay{
  width: 100%;
}

@media all and (min-width: 315px){
  .sectionDetailMP {
    padding-right: 5px;
    padding-left: 5px;
  }

  .cardMP{
    border: 1px solid #000;
  }
}

@media all and (min-width: 315px){
  .btnPay{
    width: 280px;
  }
}

@media all and (min-width:576px){
  .cardMP{
    width: 550px;
  }
}

@media all and (min-width:992px){
  .cardMP{
    width: 650px;
  }
}