*{
  margin: 0;
}

.banner{
  width: 100%;
  position: relative;
  background-image: url("../assets/Inicio/banner1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  font-family: "Exo";
}

.bannerOpacity{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner .bannerContent{ 
  width: 75%;
  height: 18.75rem;
  z-index: 99;
}

.bannerContent .bannerTitle{
  font-family: "Oswald";
  font-size: 2.1875rem;
  text-align: center;
  color:#9a5534;
  -webkit-text-stroke: .5px #fff;
}

.btnBanner{
  color: #fff;
  background-color: #9a5534;
  transition: transform 0.3s ease;
}

.btnBanner:hover {
  transition: .7s;
  transform: scale(1.1);
}

@media all and (min-width:768px){
  .bannerContent .bannerTitle{
    font-size: 4.0625rem;
  }

  .bannerContent .bannerDescription,
  .bannerContent .bannerSubtitle,
  .btnBanner{
    font-size: 1.125rem;
  }
}

@media all and (min-width:1200px){
  .bannerContent .bannerTitle{
    font-size: 4.6875rem;
  }

  .bannerContent .bannerDescription,
  .bannerContent .bannerSubtitle,
  .btnBanner{
    font-size: 1.25rem;
  }
}