*{
  margin: 0;
}

.banner{
  width: 100%;
  position: relative;
  background-image: url("../assets/Inicio/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.bannerOpacity{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner .bannerContent{ 
  width: 75%;
  height: 18.75rem;
  z-index: 99;
}

.bannerContent .bannerTitle{
  font-family: "Oswald";
  font-size: 40px;
  text-align: center;
  /* color: rgba(251, 135, 40, 0.946);
  color: rgba(255, 143, 51, 0.862); */
  color:#9a5534;
  -webkit-text-stroke: .5px #fff;
}

.bannerContent .bannerDescription,
.bannerSubtitle,
.btnBanner{
  font-family: "Exo";
}

.btnBanner{
  /* background-color: rgba(215, 115, 33, 0.533); */
  background-color: #9a5534;
  /* background-color: rgba(251, 135, 40, 0.946); */
  color: #fff;
  transition: transform 0.3s ease;
}

.btnBanner:hover {
  transition: .7s;
  color: #fca9a9;
  transform: scale(1.1);
}

@media all and (min-width:768px){
  .bannerContent .bannerTitle{
    font-family: "Oswald";
    font-size: 65px;
  }

  .bannerContent .bannerDescription,
  .bannerContent .bannerSubtitle,
  .btnBanner{
    font-size: 18px;
  }
}

@media all and (min-width:1200px){
  .bannerContent .bannerTitle{
    font-family: "Oswald";
    font-size: 75px;
  }

  .bannerContent .bannerDescription,
  .bannerContent .bannerSubtitle,
  .btnBanner{
    font-size: 20px;
  }

  .categories{
    background: #F1E4C3;
  }

  .categories h2{
    color: #9a5534;
    font-family: "Oswald";
  }

  .cardCategory .imgCategory{
    width: 400px;
    height: 400px;
    object-fit: fill;
  }
}