@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,300&family=Oswald:wght@500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

p {
  font-family: "Exo", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}
.bannerMenu{
    background-image: url(../assets/bannerMenuProvisorio.png);
    color: white;
    height: 300px;
}