@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,300&family=Oswald:wght@500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

#root {
  background-color: #f5ebdc;
}
p {
  font-family: "Exo", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}
.title{
  color: rgba(251, 135, 40, 0.946);
}
.bannerMenu{
    background-image: url(../assets/menu/bannerMenu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 60vh;
}
.searchForm{
    width: 300px;
}
.searchBTN{
    height: 100%;
}