@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,300&family=Oswald:wght@500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

#root {
  background-color: #f5ebdc;
}
p {
  font-family: "Exo", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}
.title{
  color: #9a5534;
  -webkit-text-stroke-width: .01px;
  -webkit-text-stroke-color: #fff;
}
.bannerMenu{
    background-image: url(../assets/menu/bannerMenu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 60vh;
}
.bannerBTN{
  width: 200px;
  font-size: 16px;
  background-color: #9a5534;
  color: #fff;
  border-radius: 50px;
  border: 2px solid #ffffff;
  padding: 8px 10px;
  transition: transform 0.3s ease;
}
.bannerBTN:hover{
  transition: .7s;
  transform: scale(1.1);
}
.searchForm{
    width: 300px;
}
.searchBTN{
    height: 100%;
}
.menuCategoryContainer{
  overflow-x: scroll;
}

@media all and (min-width: 768px){
  .title{
    font-size: 65px;
  }
  .bannerText{
    font-size: 18px;
  }
  .bannerMenu{
    height: 75vh;
  }
}

@media all and (min-width: 1200px){
  .title{
    font-size: 75px;
  }
  .bannerText{
    font-size: 20px;
  }
  .bannerBTN{
    width: 240px;
    font-size: 20px;
  }
  .bannerMenu{
    height: 75vh;
  }
}