@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,300&family=Oswald:wght@500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

#root {
  background-color: #f5ebdc;
}
p {
  font-family: "Exo", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}
.title{
  color: rgba(251, 135, 40, 0.946);
  font-size: 40px;
}
.bannerMenu{
    background-image: url(../assets/menu/bannerMenu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 60vh;
}
.bannerBTN{
  width: 200px;
  font-size: 16px;
  background-color: #9a5534;
  color: #fff;
  border-radius: 7px;
  border: 1px solid #9a5534;
  padding: 5px 10px;
  transition: transform 0.3s ease;
}
.bannerBTN:hover{
  transition: .7s;
  transform: scale(1.1);
}
.searchForm{
    width: 300px;
}
.searchBTN{
    height: 100%;
}
.menuCategoryContainer{
  overflow-x: scroll;
}