@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,300&family=Oswald:wght@500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
p {
  font-family: "Exo", sans-serif;
}
h1 {
  font-family: "Oswald", sans-serif;
}

.navLinks {
  font-family: "Exo", sans-serif;
}
header {
  background-color: #fda674;
}
.navbarBackground {
  background-color: #f5ebdc;
}
.navLink.active{
  border-bottom: 2px solid #9a5534;
  padding-bottom: 10px;
}
.navLink {
    text-decoration: none; 
    position: relative;
    width: 100%;
}
.navLink:hover::after {
    content: '';
    position: absolute; 
    left: 0;
    bottom: -2px; 
    width: 100%;
    border-bottom: 2px solid #9a5534;
}
.navLinkBTN{
  transition: transform 0.3s ease;
}
.navLinkBTN:hover{
  transition: .4s;
  background-color: #fda674;
  transform: scale(1.05);
}
.logo{
    width: 200px;
}
.logoMobile{
    width: 120px;
    background-color: #9a5534;
    border-radius: 15px;
    padding: 8px;
}

@media all and (min-width: 768px){
  .navLink{
    width:inherit;
  }
}
