* {
  transition: all 0.5s ease-in-out;
  padding: 0;
  margin: 0;
}

#root {
  background-color: #f1e4c3;
}

.bannerContainer {
  background-image: url('https://images.pexels.com/photos/1148565/pexels-photo-1148565.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  color: white;
  max-width: 1920px;
  max-height: 35rem;
  height: 60vw;
  margin-inline: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bannerContainer > div {
  background-color: rgba(0, 0, 0, 0.473);
  height: 100%;
}

.bannerContainer h1,
p {
  font-family: 'Oswald';
  text-align: center;
  font-size: 25px;
  width: 50vw;
}

.cardsContainer {
  max-width: 900px;
  margin-inline: auto;
}

.imgContainer {
  position: relative;
  width: 350px;
}

.linkContainer i {
  font-size: 40px;
}

.fa-linkedin {
  color: blue;
}

.fa-linkedin:hover {
  color: rgb(96, 96, 255);
}

.fa-github {
  color: black;
}

.fa-github:hover {
  color: rgb(97, 97, 97);
}

.imgProfileP {
  border-radius: 15px;
  width: 100%;
  object-fit: cover;
}

@media all and (max-width: 1150px) {
  .bannerContainer h1 {
    font-size: 6vw;
  }

  .bannerContainer p {
    font-size: 2vw;
  }
}

@media all and (min-width: 1149px) {
  .bannerContainer h1 {
    font-size: 2.8rem;
  }

  .bannerContainer p {
    font-size: 1.3rem;
  }
}

@media all and (min-width: 768px) {
  .carouselSM {
    display: none;
  }
}

@media all and (max-width: 767px) {
  .bannerContainer h1 {
    font-size: 2rem;
  }

  .bannerContainer p {
    font-size: 15px;
    width: 90vw;
  }
}

@media all and (min-width: 3000px) {
  .bannerContainer p {
    width: 100rem;
  }
}
