.opinions {
  background: #F1E4C3;
  min-height: 500px;
}

.opinions .containerOpinions article{
  min-height: 380px;
}

.opinions h2{
  color: #9a5534;
  font-family: "Oswald";
}

.containerCardOpinions{
  width: 800px;
  height: 250px;
}

.containerCardOpinions .card{
  width: 800px;
  height: 120px;
  background: #fbf8ef;
}