.cardProduct {
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  min-height: 275px;
  border: 1px solid rgb(29, 29, 29);
  transition: 0.7s;
}

.cardImg {
  object-fit: cover;
  width: 170px;
  height: 170px;
  filter: saturate(120%);
}

.cardTitle p {
  padding-top: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  white-space: normal;
  text-overflow: ellipsis;
}

.detailProduct{
  padding-top: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  white-space: normal;
  text-overflow: ellipsis;
}

.cardPrice{
  font-size: 1.2rem;
}

.cardBtn {
  transition: 0.7s;
  color: #fff;
  background-color: #bb6c06;
}

.cardBtn:hover {
  transition: 0.7s;
  background-color: #ff9306;
}

@media all and (min-width: 992px){
  .cardProduct:hover{
    border: 1px solid #717171;
    cursor: pointer;
    transition: 0.7s;
  }
}