@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,300&family=Oswald:wght@500&display=swap");

.cardProduct {
  width: 100%;
  min-height: 175px;
  max-height: 200px;
  border: solid 1px #fff;
  border-radius: 8px;
  margin: 5px 0px;
  background: #fff;
  filter: saturate(110%);
}

.cardInformation {
  width: 100%;
  padding: 10px;
}

.cardTitle h5 {
  padding-top: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  white-space: normal;
  text-overflow: ellipsis;
}

.cardParagraph {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  white-space: normal;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.cardTitle {
  border-bottom: 1px solid black;
  margin-bottom: 2px;
}

.cardPrice {
  font-weight: bold;
  color: rgb(61, 177, 11);
  padding-bottom: 2px;
}

.cardBTN {
  background-color: #fff;
  color: #000;
  border-radius: 7px;
  border: 1px solid #f7f7f7;
  width: 100%;
}

.cardBTN:hover {
  transition: 0.7s;
  color: #fff;
  background-color: #d38e33;
}

.cardIMG {
  object-fit: cover;
  width: 150px;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  filter: saturate(130%);
}

.cardProduct {
  width: 100%;
  max-height: 170px;
}

.cardTitle h5 {
  font-size: 1rem;
}

.flexPriceAndBtn {
  width: 100%;
  display: flex;
  width: 75px;
  flex-direction: column;
}

.cardIMG {
  object-fit: cover;
  width: 100px;
  height: 100%;
}

@media all and (min-width: 315px) {
  .cardProduct {
    max-height: 185px;
  }

  .cardPrice {
    padding-bottom: 5px;
  }
}

@media all and (min-width: 375px) {
  .cardBTN {
    font-size: 1rem;
    padding-right: 5px;
    padding-left: 5px;
  }

  .flexPriceAndBtn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 75px;
    flex-direction: row;
  }
}

@media all and (min-width: 768px) {
  .cardPrice p{
    font-size: 1.2rem;
  }

  .cardTitle h5 {
    font-size: 1.2rem;
  }
}

@media all and (min-width: 992px) {
  .cardIMG {
    width: 180px;
  }

  .cardProduct {
    width: 100%;
    height: 150px;
  }
}