.cardProduct {
  width: 100%;
  min-width: 250px;
  max-width: 350px;
  min-height: 275px;
  background: #fff;
}

.cardImg {
  object-fit: cover;
  width: 150px;
  height: 200px;
  border-top-right-radius: 6px;
  filter: saturate(130%);
}

.cardTitle p {
  padding-top: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  white-space: normal;
  text-overflow: ellipsis;
}

.cardBtn {
  transition: 0.7s;
  color: #fff;
  background-color: #a75f02;
}