@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

* {
  scroll-margin-top: 75px;
}

.title {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  font-size: 30px;
}

.bannerMenu {
  background-image: url("../../../assets/bannerMenu.webp");
  background-size: 300%;
  background-repeat: no-repeat;
  color: white;
  height: 40vh;
  background-color: rgba(0,0,0,0.5);
}

.bannerBTN {
  width: 200px;
  font-size: 16px;
  background-color: #9a5534;
  color: #fff;
  border-radius: 50px;
  border: 3px solid #ffffff;
  padding: 8px 10px;
  transition: transform 0.3s ease;
}

.bannerBTN:hover {
  transition: 0.7s;
}

.search {
  width: 100%;
}

.inputSearch{
  color: white;
  background: #000;
  border: 1px solid #797878;
  outline: none;
  border-right: 0;
}

.inputSearch::placeholder{
  color: gray;
}

.labelSearch{
  background: #000;
  border: 1px solid #797878;
  cursor: pointer;
}

.inputSearch:focus{
  background: #000;
  border: 1px solid #797878;
  color: white;
  box-shadow: none;
  outline: none;
  border-right: 0;
}

.iconSearch{
  position: absolute;
  right: 100px;
}



.menuCategoryContainer {
  overflow-x: scroll;
  padding-left: 190px;
  z-index: 999;
  background: #000;
}

.categoryTitle{
  border-bottom: 1px solid #222222;
}

@media all and (min-width: 375px) {
  .menuCategoryContainer {
    padding-left: 100px;
  }
}

@media all and (min-width: 576px) {
  .menuCategoryContainer {
    overflow-x: hidden;
    padding-left: 0px;
  }

  .search {
    width: 350px;
  }
}

@media all and (min-width: 768px) {
  .title {
    font-size: 65px;
  }
  .bannerText {
    font-size: 18px;
  }

  .bannerMenu{
    background-size: 150%;
  }
}

@media all and (min-width: 1200px) {
  .title {
    font-size: 75px;
  }
  .bannerText {
    font-size: 20px;
  }
  .bannerBTN {
    width: 240px;
    font-size: 20px;
  }

  .bannerMenu{
    background-size: 100%;
  }
}