@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

.modalIMG {
  border-radius: 8px;
  width: 100%;
  min-height: 280px;
  object-fit: cover;
  filter: saturate(110%);
}

@media all and (min-width: 375px) {
  .modalIMG {
    height: 300px;
  }
}
