* {
  padding: 0;
  margin: 0;
}

#root {
  background-color: #fff;
}

.bannerContainer {
  width: 100%;
  position: relative;
  background-image: url("../../../assets/bannerNosotros.webp");
  color: white;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: 350%;
  animation: movimiento 9s infinite;
  font-family: "Exo";
}

.bannerContent h1{
  font-family: "Oswald";
  font-size: 2.1875rem;
  text-align: center;
  color:#9a5534;
  -webkit-text-stroke: .5px #fff;
}

@keyframes movimiento {
  from {
    background-position: bottom left;
  }to{
    background-position: top right;
  }
}

.bannercContainer .bannerOpacity{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.bannerContent {
  width: 100%;
  height: 18.75rem;
  z-index: 99;
}

.cardsContainer {
  max-width: 900px;
  margin-inline: auto;
}

.imgContainer {
  position: relative;
  width: 350px;
  height: 380px;
}

.linkContainer i {
  font-size: 2.5rem;
}

.fa-linkedin {
  color: blue;
}

.fa-linkedin:hover {
  color: rgb(96, 96, 255);
}

.fa-github {
  color: black;
}

.fa-github:hover {
  color: rgb(97, 97, 97);
}

.imgProfileP {
  border-radius: 15px;
  width: 100%;
  object-fit: cover;
  filter: saturate(150%);
}

@media all and (min-width: 768px) {
  .carouselSM {
    display: none;
  }

  .bannerContent h1{
    font-size: 4.0625rem;
  }

  .bannerContent p{
    font-size: 1.125rem;
    width: 700px;
  }

  .bannerContainer{
    background-size: 150%;
  }
}

@media all and (min-width:1200px){
  .bannerContent h1{
    font-size: 4.6875rem;
  }

  .bannerContent p{
    font-size: 1.25rem;
    width: 820px;
  }

  .bannerContainer{
    background-size: 120%;
    animation: movimiento 7s infinite linear alternate;
  }
}