* {
  margin: 0;
  padding: 0;
}

#root .titleColor{
  color: #fd6100ce;
}

.bannerPedido {
  width: 100%;
  position: relative;
  background-image: url('../assets/imgPedido.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bannerTitlePedido {
  font-size: 2.8rem;
  color: #9a5534;
  -webkit-text-stroke: 0.5px #fffefe;
}

.bannerPedidoContent {
  z-index: 1;
  padding-bottom: 200px;
  padding-top: 200px;
}

.orderTitle {
  text-align: center;
}

.img-order {
  border-radius: 10px;
  border: 0.5px solid;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.resumeCardContainer {
  display: flex;
  justify-content: center;
}

.resumeCard {
  width: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 1px solid black;
  border-radius: 7px;
}

.resumeCard > div {
  background-color: #f6edcb;
}

@media all and (min-width: 768px) {
  .orderTable,
  .card-body,
  .card-footer {
    font-size: 18px;
  }
}

@media all and (max-width: 767px) {
  .quantityProductos {
    display: flex;
    flex-direction: column;
  }
}

@media all and (min-width: 1200px) {
  .orderTable,
  .card-body,
  .card-footer {
    font-size: 20px;
  }
}
