@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;1,300&family=Oswald:wght@500&display=swap');

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Exo", sans-serif;
}

h1{
  font-family: "Oswald", sans-serif;
}