@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

.navbar {
  z-index: 1;
}

.logo {
  width: 200px;
}

.logoMobile {
  width: 120px;
  height: 60px;
  object-fit: cover;
  border-radius: 15px;
  padding: 8px;
}
