.sectionLogin{
    width: 100%;
}

@media all and (min-width:576px){
    .imgLogin{
        width: 50vw;
        object-fit: cover;
        height: 70vh;
    }

    .imgLogin:hover{
        filter: saturate(130%);
    }

    .sectionLogin{
        width: 50vw;
    }
}

@media all and (min-width:768px){
    .formText{
        font-size: 18px;
    }
}
@media all and (min-width:992px){
   
}
@media all and (min-width:1200px){
    .imgLogin{
        width: 70vw;
        object-fit: cover;
        height: 70vh;
       
    }
    .sectionLogin{
        width: 30vw;
    }
}