.containerRegister{
    width: 100%;
    height: 70vh;
}

.logo{
    width: 200px;
}

.sectionRegister{
    width: 100%;
}

@media all and (min-width:576px){
    .imgRegister{
        width: 50vw;
        object-fit: cover;
        height: 70vh;
      
    }

    .imgRegister:hover{
        filter: saturate(150%);
    }
    
    .sectionRegister{
        width: 50vw;
    }
}

@media all and (min-width:768px){
    .formText{
        font-size: 18px;
    }
}

@media all and (min-width:1200px){
    .imgRegister{
        width: 70vw;
    }

    .sectionRegister{
        width: 30vw;
    }
}